* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: red;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

h1 {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

header > p {
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.float-left {
  float: left;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  background-color: darkslateblue;
  color: white;
  align-items: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float-left > img {
  width: 35%;
  height: auto;
}

span {
  color: aqua;
}
